@page
@using AnimalHouseRestAPI.Models;
@model ah4cClientApp.Pages.AboutModel
@{
    ViewData["Title"] = "AnimalHouse";
    var isdisplay = "none";
    if (ViewData["showerror"] != null && ViewData["showerror"] as string == "true" && ViewData["showsuccess"] == null)
    {
        isdisplay = "block";
    }
    else if (ViewData["showsuccess"] != null && ViewData["showsuccess"] as string == "true")
    {
        isdisplay = "block";
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Управление заявками</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin: 20px auto;
            width: 50%;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #666;
        }

        input, select, button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049;
            }

        .table {
            width: 100%;
            border: 1px solid black;
        }

        .table-header {
            display: flex;
            width: 100%;
            background: #000;
            padding: 5px;
        }

        .table-row {
            display: flex;
            width: 100%;
            padding: 5px;
            border: 1px solid black;
        }

        .table-data, .header__item {
            flex: 1 1 20%;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="main">

        <form class="default" method="post">
            <h1>Управление заявками</h1>
            <div class="form-group" style="display:@isdisplay">
                <span style="color:red">@ViewData["customerror"]</span>
            </div>
            <div class="form-group" style="display:@isdisplay">
                <span style="color:green">@ViewData["customsuccess"]</span>
            </div>
            <label for="orderid">Изменение статуса заявки по ID:</label>
            <input type="text" id="orderid" name="orderid"><br><br>
            <label for="statusid">Новый статус:</label>
            <select id="statusid" name="statusid">
                <option value="1">Принят</option>
                <option value="2">Ожидает оплаты</option>
                <option value="3">Оплачен</option>
            </select><br><br>
            <button type="submit">Изменить</button>
        </form>

        <form class="default" method="post">
            <label for="clientid">Вывод заявок по ID клиента:</label>
            <input type="text" id="clientid" name="clientid"/><br><br>
            <button id="takeOrders" type="submit">Вывести заявки</button>
        </form>

        <form class="default"  method="post">
            <label for="orderidoutput">Вывод заявки по ID:</label>
            <input type="text" id="orderidoutput" name="orderidoutput"><br><br>
            <button type="submit">Вывести</button>
        </form>

        <table class="table">
            <tr>
                <th scope="col">Номер записи</th>
                <th scope="col">ID заявки</th>
                <th scope="col">ID клинета</th>
                <th scope="col">ID питомца</th>
                <th scope="col">ID комнаты</th>
                <th scope="col">Дата заселения</th>
                <th scope="col">Дата выселения</th>
                <th scope="col">Принявший работник</th>
                <th scope="col">Статус заявки</th>
            </tr>
            @foreach (Order order in AboutModel.OrderList)
            {
                <tr>
                    <th scope="row">@order.OrderNoteid</th>
                    <th scope="row">@order.OrderId</th>
                    <th scope="row">@order.ClientId</th>
                    <th scope="row">@order.AnimalId</th>
                    <th scope="row">@order.RoomId</th>
                    <th scope="row">@order.AdmissionDate</th>
                    <th scope="row">@order.IssueDate</th>
                    <th scope="row">@order.WorkerId</th>
                    <th scope="row">@order.OrderStatusid</th>
                </tr>
            }
        </table>

        <form class="default" method="post">
            <br />
            <label>Удаление заявки по ID</label><br />
            <label for="orderiddelete">ID заявки: </label><br />
            <input name="orderiddelete" /><br />
            <input type="submit" value="Удалить" /><br />

        </form>

        <form class="default" action="/OrderAddPage">
            <input type="submit" value="Добавить новую заявку"/>    
        </form>
    </div>
</body>
</html>